@import "tailwindcss";

@theme {
  --color-brand-purple: #6733cd;
  --color-brand-purple-hover: #5528b3;
  --color-brand-coral: #fe8f75;
  --color-brand-coral-hover: #e57d63;
  --color-brand-green: #7ed500;
  --color-brand-teal: #00e49a;

  --color-brand-dark: #121214;
  --color-brand-dark-card: #1c1c1f;
  --color-brand-dark-gray: #333333;
  --color-brand-light-gray: #f9f9f9;
  --color-brand-medium-gray: #cccccc;

  --font-inter: var(--font-inter);
  --spacing-mobile-height: calc(100vh - 5rem);

  --animate-fade-in: fade-in 0.5s ease-out forwards;
  --animate-slide-up: slide-up 0.6s ease-out forwards;
  --animate-float: float 6s ease-in-out infinite;
  --animate-float-slow: float 8s ease-in-out infinite;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes slide-up {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
  }
}

body {
  font-family: var(--font-inter);
  background-color: #ffffff;
  color: #121214;
}
